<!DOCTYPE html>
<html lang="en">

<head>

    <script type="text/javascript" src="slick/slick.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#333399">
    <title>survivalequip.com | Welcome</title>


    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="fullpage.js/dist/jquery.fullpage.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Dosis|Poiret+One" rel="stylesheet">
    <link href="fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
    <link href="customcss/style.css" rel="stylesheet" />


</head>

<body ng-app="survivalequip" ng-controller="productsCtrl">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="img/logo.jpg" width="80%" class="img-responsive" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="menu">
                    <li data-menuanchor="home" class="active"><a href="#home">Home</a></li>
                    <li data-menuanchor="about"><a href="#about">About Us</a></li>
                    <li data-menuanchor="products"><a href="#products">Products</a></li>
                    <li data-menuanchor="checklist"><a href="#checklist">Survival Check List</a></li>
                    <li data-menuanchor="clients"><a href="#clients">Client List</a></li>
                    <li data-menuanchor="contact"><a href="#contact">Contact Us</a></li>
                </ul>
            </div>

            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>

    <div id="fullpage">
        <div class="section">
            <div class="sli">
                <div class="slide1"></div>
                <div class="slide2"></div>
                <div class="slide3"></div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <center class="section-heads">
                        <h3>About Us:</h3>
                    </center>
                    <div class="col-lg-6">

                        <div class="col-lg-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4>Introduction:</h4>
                                </div>
                                <div class="panel-body">
                                    <br />
                                    <p>
                                        Our products are geared toward protecting field workers operating in hostile environments. We are regional representatives
                                        for Rothco USA and all our products adhere to the highest global standards and carry
                                        warranties. We understand and appreciate that our clients work in emergency situations
                                        and we pride ourselves on service delivery.
                                    </p>


                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4>Mission Statement:</h4>
                                </div>
                                <div class="panel-body">
                                    <br />
                                    <p>
                                        To provide our clients,in an innovative,cost effective,professional and personal manner with the necessary means to ensure
                                        their safety,survival and well-being
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4>Key Markets:</h4>
                                </div>
                                <div class="panel-body">
                                    <br />

                                    <p>
                                        Survival equip LTD operates mainly in the following countries:-
                                    </p>
                                    <div class="col-xs-6">
                                        <ul>
                                            <li>
                                                Sudan

                                            </li>

                                            <li>
                                                Somalia
                                            </li>

                                            <li>
                                                DRC
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-xs-6">
                                        <ul>
                                            <li>
                                                Kenya
                                            </li>

                                            <li>
                                                Uganda
                                            </li>

                                            <li>
                                                Burundi
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4>Environmental Policy:</h4>
                            </div>
                            <div class="panel-body">
                                <br />
                                <p>
                                    We are committed to providing a quality service in a manner that ensures a safe and healthy workplace for our employees and
                                    minimises our potential impact on the environment. We will operate in compliance with
                                    all relevant environmental legislation and we will strive to use pollution prevention
                                    and environmental best practices in all we do.
                                </p>

                                <ul>
                                    <li>
                                        integrate the consideration of environmental concerns and impacts into all of our decision making and activities
                                    </li>

                                    <li>
                                        promote environmental awareness among our employees and encourage them to work in an environmentally responsible manner,

                                    </li>

                                    <li>
                                        train, educate and inform our employees about environmental issues that may affect their work,

                                    </li>

                                    <li>
                                        reduce waste through re-use and recycling and by purchasing recycled, recyclable or re-furbished products and materials where
                                        these alternatives are available, economical and suitable,

                                    </li>

                                    <li>
                                        promote efficient use of materials and resources throughout our facility including water, electricity, raw materials and
                                        other resources, particularly those that are non-renewable,

                                    </li>

                                    <li>
                                        avoid unnecessary use of hazardous materials and products, seek substitutions when feasible, and take all reasonable steps
                                        to protect human health and the environment when such materials must be used, stored
                                        and disposed of,

                                    </li>

                                    <li>
                                        purchase and use environmentally responsible products accordingly,

                                    </li>

                                    <li>
                                        where required by legislation or where significant health, safety or environmental hazards exist, develop and maintain appropriate
                                        emergency and spill response programmes,

                                    </li>

                                    <li>
                                        communicate our environmental commitment to clients, customers and the public and encourage them to support it,

                                    </li>

                                    <li>
                                        strive to continually improve our environmental performance and minimise the social impact and damage of activities by periodically
                                        reviewing our environmental policy in light of our current and planned future activities.

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container-fluid">
                <center class="section-heads">
                    <h3>Main Products</h3>
                </center>
                <div id="exTab2" style="padding-left: 2rem;padding-right:2rem">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#defult" ng-click="getDefult()">Meals Ready To Eat</a></li>
                        <li ng-repeat="(key,value) in products" ng-if="key  !='Meals Ready To Eat'" ng-click="setPrd(value)">
                            <a href="#2" data-toggle="tab">{{key}}</a>
                        </li>
                    </ul>

                    <div class="tab-content container" >
                        <div id="defult" class="tab-pane fade in active">
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6" ng-repeat="product in selectedProduct">
                                            <a href="#" class="thumbnail active" ng-click="setSubPrd(product)">
                                                <img src="{{product.image}}" alt="Generic placeholder thumbnail">
                                                <h5>{{product.name}}</h5>
                                                <h6>view details > </h6>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="nav nav-tabs" ng-show=" desc">
                                            <li class="active"><a data-toggle="tab" href="#description">Product description</a></li>
                                            <li><a data-toggle="tab" href="#specs">Product Specs</a></li>
                                        </ul>

                                        <div class="tab-content" ng-show=" desc">
                                            <div id="description" class="tab-pane fade in active">
                                                <h3>Product description</h3>
                                                <p>{{selectedSubProduct.description}}</p>
                                            </div>
                                            <div id="specs" class="tab-pane fade">
                                                <h3>Product Specifications</h3>
                                                <p>{{selectedSubProduct.spec}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                        </div>


                        <div class="tab-pane fade in" id="2">
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6" ng-repeat="product in selectedProduct">
                                            <a href="#" class="thumbnail active" ng-click="setSubPrd(product)">
                                                <img src="{{product.image}}" alt="Generic placeholder thumbnail">
                                                <h5>{{product.name}}</h5>
                                                <h6>view details > </h6>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="nav nav-tabs" ng-show=" desc">
                                            <li class="active"><a data-toggle="tab" href="#description">Product description</a></li>
                                            <li><a data-toggle="tab" href="#specs">Product Specs</a></li>
                                        </ul>

                                        <div class="tab-content" ng-show=" desc">
                                            <div id="description" class="tab-pane fade in active">
                                                <h3>Product description</h3>
                                                <p>{{selectedSubProduct.description}}</p>
                                            </div>
                                            <div id="specs" class="tab-pane fade">
                                                <h3>Product Specifications</h3>
                                                <p>{{selectedSubProduct.spec}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <center class="section-heads">
                    <h3>Survival Checklist:</h3>
                </center>
                <p>
                    STOCK UP FOR YOUR SAFETY AND SURVIVAL WITH OUR ESSENTIAL CAMPING ITEMS CHECKLIST.
                </p>
                <div class="row">

                    <div class="col-lg-4">
                        <div class="panel checklist">
                            <div class="panel-heading">
                                <h4>EQUIPMENT:</h4>
                            </div>
                            <div class="panel-body">
                                <center><img src="img/checklist/radio.jpg" class="img-responsive img-circle" width="200px" /></center>
                                <hr />

                                <ul>
                                    <li>
                                        740 Rothco Kerosene Lantern
                                    </li>

                                    <li>
                                        639 Rothco G.I. Type Black D-Cell Flashlight
                                    </li>

                                    <li>
                                        80002 Rothco Deluxe Solar Charger for Cell Phones
                                    </li>

                                    <li>
                                        80004 Rothco Solar/Wind Up Radio
                                    </li>

                                    <li>
                                        80007 Rothco 6 Bulb Solar Power/Handcrank Lantern
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel checklist">
                            <div class="panel-heading">
                                <h4>WATER &amp; SANITATION</h4>
                            </div>
                            <div class="panel-body">
                                <center><img src="img/checklist/bottle.jpg" class="img-responsive img-circle" width="200px" /></center>
                                <hr />
                                <ul>
                                    <li>
                                        7741 G.I. Issue Water Pure Powder Packets
                                    </li>

                                    <li>
                                        535 Rothco Five Gallon Collapsible Water Carrier
                                    </li>
                                    <li>
                                        604 Rothco G.I. 1 Quart Canteen
                                    </li>
                                    <li>
                                        540 Rothco Five Gallon Solar Camp Shower
                                    </li>
                                    <li>
                                        560 Rothco Portable Camp Toilet
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel checklist">
                            <div class="panel-heading">
                                <h4>SHELTER &amp; BEDDING:</h4>
                            </div>
                            <div class="panel-body">
                                <center><img src="img/checklist/tent.jpg" class="img-responsive img-circle" width="200px" /></center>
                                <hr />

                                <ul>
                                    <li>
                                        3808 Rothco Camouflage 2-Man Trail Tent
                                    </li>

                                    <li>
                                        4579 Rothco Aluminum G.I. Style Camping Cot
                                    </li>

                                    <li>
                                        2685 Rothco Super Hammock
                                    </li>

                                    <li>
                                        4089 Rothco Foam Sleeping Pad w/Ties
                                    </li>

                                    <li>
                                        1034 Rothco Polarshield Sleeping Bag Survival Blanket
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>




                    <div class="col-lg-4">
                        <div class="panel checklist">
                            <div class="panel-heading">
                                <h4>TOOLS:</h4>
                            </div>
                            <div class="panel-body">
                                <center><img src="img/checklist/knive.jpg" class="img-responsive img-circle" width="200px" /></center>
                                <hr />

                                <ul>
                                    <li>
                                        40 Rothco 5-In-1 Multi Purpose Tool
                                    </li>


                                    <li>
                                        3674 Rothco Paracord Knife w/Fire Starter
                                    </li>

                                    <li>
                                        406 Rothco Military Marching Compass
                                    </li>


                                    <li>
                                        25000 Rothco 8-In-1 LED Utility Card Tool
                                    </li>


                                    <li>
                                        50 Rothco Folding Shovel
                                    </li>


                                    <li>
                                        8312 Rothco Commando Wire Saw
                                    </li>


                                    <li>
                                        308 Rothco Nylon Paracord
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel checklist">
                            <div class="panel-heading">
                                <h4>PACKS &amp; SURVIVAL GEAR:</h4>
                            </div>
                            <div class="panel-body">
                                <center><img src="img/checklist/bag.jpg" class="img-responsive img-circle" width="200px" /></center>
                                <hr />

                                <ul>
                                    <li>
                                        2289 Rothco Medium Transport Pack
                                    </li>

                                    <li>
                                        2438 Rothco Advanced Tactical Bag
                                    </li>
                                    <li>
                                        25130 Rothco Tactisling Transport Pack
                                    </li>

                                    <li>
                                        3681 Rothco All Weather Emergency Poncho
                                    </li>

                                    <li>
                                        8537 Rothco Tactical Shemagh
                                    </li>

                                    <li>
                                        5811 Rothco Boonie Hat
                                    </li>

                                    <li>
                                        7727 Rothco G.I. Type Insect Repellant
                                    </li>

                                    <li>
                                        8335 Rothco General Purpose First Aid Kit
                                    </li>

                                    <li>
                                        2720 Rothco Survival Kit
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel checklist">
                            <div class="panel-heading">
                                <h4>COOKING:</h4>
                            </div>
                            <div class="panel-body">
                                <center><img src="img/checklist/cuttlery.jpg" class="img-responsive img-circle" width="200px" /></center>
                                <hr />

                                <ul>
                                    <li>
                                        648 Solid Fuel Cubes
                                    </li>

                                    <li>
                                        9208 Emergency Food Rations
                                    </li>

                                    <li>
                                        640 Rothco Portable Commando Cooker
                                    </li>

                                    <li>
                                        130 Rothco G.I. Type Stainless Steel Mess Kit
                                    </li>

                                    <li>
                                        480 Rothco Chow Kit
                                    </li>

                                    <li>
                                        9938 Rothco G.I. Type P-51 Can Opener
                                    </li>

                                    <li>
                                        513 Rothco
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="section">
            <center class="section-heads">
                <h3>Our Clients:</h3>
            </center>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2" ng-repeat="client in clients">
                        <img class="img-responsive img-rounded" src="{{client.image}}">
                        <center>
                            <h5>{{client.name}}</h5>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div class="section  fp-auto-height">
            <div class="myContent2">
                <div class="row">
                    <div class="col-md-offset-4">
                        <div class="col-md-4">
                            <h3>Survival Equip Limited</h3>
                            <p>
                                <i class="fa fa-envelope-o"></i> <span> P.O Box 14258-00800 Nairobi,Kenya.</span> <br>
                                <i class="fa fa-phone"></i> <span>
                                    Tel: (+254) 20 375 300 <br>
                                    or:  (+254) 20 675 1399
                                </span> <br>
                                <i class="fa fa-fax"></i> <span> Fax: (+254) 20 375 2999</span> <br>
                                <i class="fa fa-mobile-phone"></i> <span>
                                    Mobile: (+254) 722 511 972<br>
                                    or: (+254) 735 831 548
                                </span><br>
                                <i class="fa fa-at"></i> <span> Email: harman@survivalequip.com </span>
                            </p>
                        </div>
                        <div class="col-md-4">
                    <br>
                    <br>
                          
                                <a href="https://www.rothco.com/"><img class="img-responsive img-circle" src="img/rothco.jpg"/></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="angular/angular.min.js"></script>
    <script src="controller.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="fullpage.js/dist/scrolloverflow.min.js"></script>
    <script src="fullpage.js/dist/jquery.fullpage.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="angular/angular-ui-bs.js"></script>
    <script src="app.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
</html>